.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  overflow: hidden;
}

header {
  width: 100%;
  height: 56px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 56px);
  box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.3);
}

aside {
  width: 280px;
}

main {
  flex-grow: 1;
  overflow-y: scroll;
}