


.form-group label {

}

.btn {
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 1.0rem;
  font-weight: bold;
  border-radius: 4px;
  background-color: transparent;
}

.btn-primary {
  color: white;
  background-color: #b2f5ea;
}

.d-flex {
  display: flex;
}
.d-flex.column {
  flex-direction: column;
}

.spacer {
  margin-right: auto;
}