input.form-control {
  border: none;
  border-radius: 4px;
  padding: 6px;
  border: 1px solid #ddd;
  font-size: 1.0rem;
}
input.form-control:focus {
  outline: none;
  border: 1px solid rgb(50, 120, 50, 0.8);
  box-shadow: 0 0 6px rgba(50, 120, 50, 0.8);
}